textarea {
    width: 750px;
}
#pageQuestionsForm {   
    background: #FFFFFF;
    border: 1px solid #A1A1A1;
    margin: 0;

}
.questionLabel {
    color: #333333;
    float: left;
    width: 200px;
}
.preRequiredLabel {
    font-weight: bold;
}
.questionAnswer {
    margin-left: 200px;
}
.questionLayer {
    padding: 3px;
}
.questionLayer:hover {
    background: #F6F6F6;
}

.questionLayer:after {
    content: "";
    clear: both;
    display: block;
}
*.questionLayer {
    /* for IE 6/7 */
    zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
}

.subtitle {
    border-top: 1px solid #A1A1A1;
    color: #A1A1A1;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}
.title {
    color: #3B6E9C;
    font-size: 19px;
    padding: 5px;
}
.description {
    color: #616161;
    margin-top: 10px;
    padding: 5px;
}
.requiredLabel  {
    color: #FF0000 !important;
}

/*
 * Styles for the table panel displayed for set fields external events
*/
table.resultsTableAdv {
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
}
table.resultsTableAdv td {
    border-bottom: 1px solid #A0A0A0;
}
table.resultsTableAdv tr#headerRow {
    color: #3B6E9C;
}
table.resultsTableAdv tr.row_odd {
    background: #FFFFFF;
}
table.resultsTableAdv tr.row_even {
    background: #F6F6F6;
}
table.resultsTableAdv tr.resultsTableHover {
    background: #E0E0FF;
    cursor: pointer;
}