/*
 * Define a border style property that will be applied to the review.jsp.  This
 * is to give the review content a border to be consitent with the border around
 * the service item form content.
 */
#reviewBorder {
    border: 1px solid #A1A1A1;
}

/*
 * We explicitly set the width to 100% to override default behavior that causes
 * the review content to not use the full width of the page.
 */
#reviewContent {
    background-color: #FFFFFF;
    width: 100%;
}
/*
 * Define style properties for the tabs that appear for each reviewable page.
 * Note that these should have a final height of 30px for the iFrame's height to
 * be calculated properly if this is displayed in an iFrame in a service item.
 */
#reviewContent #globalnav a {
    background: url('../../../../common/resources/images/background_grey_A1A1A1_C6C6C6.png') repeat-x;
    border: 1px solid #A1A1A1;
    color: white;
    line-height: 28px;
    padding: 0 5px;
}
#reviewContent #globalnav a:hover {
    background: url('../../../../common/resources/images/background_light_grey_B4B4B4_D2D2D2.png') repeat-x;
}
#reviewContent #globalnav a.selectedTab {
    background: url('../../../../common/resources/images/background_blue_3B6E9C_88A7C3.png');
    border: 1px solid #3B6E9C;
}
#reviewContent #globalnav a.selectedTab:hover {
    background: url('../../../../common/resources/images/background_light_blue_628BAF_A0B9CE.png');
    border: 1px solid #628BAF;
}

/*
 * We explicitly set the width to 100% to override default behavior that causes
 * the review content to not use the full width of the page.
 */
#reviewContent .frame#PAGE_ReviewPages {
    width: 100%;
}