input {
    margin: 0;
    padding: 0;
}
select {
    margin: 0;
    padding: 0;
}

table.kd-table {
    border: 1px solid #3B6E9C;
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}
table.kd-table th, table.kd-table td {
    border: 1px solid #3B6E9C;
    padding: 3px;
}
table.kd-table th {
    background: url('../../../../common/resources/images/background_blue_3B6E9C_88A7C3.png');
    color: #FFFFFF;
    cursor: pointer;
}
table.kd-table th:hover {
    background: url('../../../../common/resources/images/background_light_blue_628BAF_A0B9CE.png');
}
table.kd-table tr {
    background: #E9E9E9;
}
table.kd-table tr.kd-odd {
    background: #F9F9F9;
}
table.kd-table tr:hover {
    background: #88A7C3;
    color: white;
}
table.kd-table tr:hover a {
    color: white;
}
table.kd-table tr:hover a:hover {
    text-decoration: underline;
}

.controls {
    float: right;
}
.control {
    float: left;
    margin-left: 10px;
}
.control.button {
    background: url('../../../../common/resources/images/background_grey_A1A1A1_C6C6C6.png') repeat-x;
    border: 1px solid #A1A1A1;
    cursor: pointer;
    padding: 1px;
}
.control.button:hover {
    background: url('../../../../common/resources/images/background_light_grey_B4B4B4_D2D2D2.png') repeat-x;
}
.control.summary {
}
.control:hover {
}
.control img {
    display: block;
}
.control.pageNumber input {
    text-align: center;
    width: 30px;
}

.navigation {
    width: 975px; /* width of the image */
}
.navigationItem {
    color: #3B6E9C;
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    padding: 10px;
}
.navigationItem:hover {
    background-color: #E6E6E6;
}
.navigationItem.active {
    background-color: #D2D2D2;
}
.content {
    background-color: #D2D2D2;
    padding: 10px;
}

.switches {
    float: left;
}
.switch {
    background: url('../../../../common/resources/images/background_grey_A1A1A1_C6C6C6.png');
    border: 1px solid #A1A1A1;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-weight: bold;
    line-height: 16px;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    width: 100px;

}
.switch:hover {
    background: url('../../../../common/resources/images/background_light_grey_B4B4B4_D2D2D2.png');
}
.switch.active {
    background: url('../../../../common/resources/images/background_blue_3B6E9C_88A7C3.png');
    border: 1px solid #3B6E9C;
}
.switch.active:hover {
    background: url('../../../../common/resources/images/background_light_blue_628BAF_A0B9CE.png');
}

.ui-dialog {
    position: absolute;
    text-align: left;
}
.ui-dialog .ui-dialog-titlebar {
    background: url('../../../../common/resources/images/background_blue_3B6E9C_88A7C3.png');
    border: 1px solid #3B6E9C;
    cursor: move;
    padding: 3px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    color: white;
    font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close span:hover {
    text-decoration: underline;
}
.submissionDetails {
    background-color: #FFFFFF;
    border: 1px solid #3B6E9C;
    border-top-width: 0px;
    padding: 5px;
    overflow-y: scroll;
}
.submissionDetails .header {
    background-color: #A1A1A1;
    color: white;
    font-size: 1.1em;
    padding: 5px;
}
.submissionDetails .header a {
    color: white;
}
.submissionDetails .header a:hover {
    text-decoration: underline;
}
.submissionDetails .header .serviceItem {
    margin-right: 150px;
}
.submissionDetails .header .requestId {
    float: right;
    text-align: right;
    width: 150px;
}
.submissionDetails .info {
    padding: 5px;
}
.submissionDetails .cancel {
    text-align: right;
}
.submissionDetails .label {
    float: left;
    font-weight: bold;
    width: 150px;
}
.submissionDetails .value {
    margin-left: 150px;
}
.submissionDetails .tasks .task {
    border: 1px solid #C8C8C8;
    margin-top: 5px;
    padding: 5px;
}
.submissionDetails .tasks .task.odd {
    background-color: #E9E9E9;
}
.submissionDetails .tasks .task.even {
    background-color: #F9F9F9;
}

.ui-resizable-handle {
    height: 20px;
    width: 20px;
    position: absolute;
    font-size: 0.1px;
    z-index: 1000;
    display: block;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    bottom: -5px;
}
.shadow {
    background-color: black;
    display: block;
    height: 100%;
    left: 5px;
    opacity: 0.50;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: -1;
}